.container {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
}

/* Light and dark themes */
.container.light {
  background-color: white;
  color: black;
}

.container.dark {
  background-color: black;
  color: white;
}

/* Common button style */
.reset,
.btn {
  margin: 10px;
  padding: 20px 40px;
  font-size: 24px;
  background-color: antiquewhite;
  color: red;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Reset button special style */
.reset {
  background-color: blueviolet;
  color: white;
}
